Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
ser=pd.Series([4,8,15,16,23,42])
ser

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.

In [3]:
my_list=[10,15,45,25,30,35,40,80,85,90]

In [4]:
my_series=pd.Series(my_list)
my_series

0    10
1    15
2    45
3    25
4    30
5    35
6    40
7    80
8    85
9    90
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [5]:
Name=["Alice","Bob","Claire"]
Age=[25,30,27]
Gender=["Female","Male","Female"]

In [6]:
df=pd.DataFrame([Name,Age,Gender],columns=["Name","Age","Gender"])
df

     Name   Age  Gender
0   Alice   Bob  Claire
1      25    30      27
2  Female  Male  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [7]:
##Difference between DataFrame and Series:
##Dimension:
##DataFrame is a 2-dimensional data structure, consisting of rows and columns.
##Series is a 1-dimensional data structure, representing a single column or array-like data.
##Structure:
##A DataFrame contains multiple columns, each of which can be of a different data type.
##A Series contains a single column of data, along with an index.
##Usage:
##DataFrame is used to work with structured data, where you have multiple variables or features.
##Series is used when you need to work with a single column or array-like data.
##Operations:
##Many operations in pandas can be performed on both DataFrame and Series, such as filtering, aggregation, and transformations.
##DataFrame operations are often applied across columns or rows.
##Series operations are applied to the elements within the series.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
you give an example of when you might use one of these functions?

1. head() and tail() : These are being used for slice the dataframe in desired number of rows
2. info() : This is used to get infomation related to dataset
3. describe(): This is used to get the descriptive information of dataset
4. shape(): This is used to check the shape of dataframe
5. groupy(): This is used to groupby any column based on values
6. sort_values(): This is used to sort_values based on a column

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame,Series are mutable in nature it mean we change values without changing in there id.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [8]:
Name=["Alice","Bob","Claire"]
Age=[25,30,27]
Gender=["Female","Male","Female"]
Name=pd.Series(Name)
Age=pd.Series(Age)
Gender=pd.Series(Gender)

In [9]:
data = {'Name': Name, 'Age': Age, 'Gender': Gender}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 28, 22])
scores = pd.Series([95, 85, 90, 78])

In [11]:
df = pd.concat([names, ages, scores], axis=1)
df.columns = ['Name', 'Age', 'Score']
df

      Name  Age  Score
0    Alice   25     95
1      Bob   30     85
2  Charlie   28     90
3    David   22     78